<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item w-50" role="presentation">
    <button class="nav-link active w-100" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">My Details</button>
  </li>
  <li class="nav-item w-50" role="presentation">
    <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">My Preferences</button>
  </li>

</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="container">
      <div class="row justify-content-center">
        <div class="row col-10 col-md-7 my-5">
          <div class="form p-5">
            <h2><strong>Edit <%= resource_name.to_s.humanize %></strong></h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :first_name,
                            hint: "leave it blank if you don't want to change it",
                            required: false,
                            input_html: { autocomplete: "new-first-name" } %>
                <%= f.input :last_name,
                            hint: "leave it blank if you don't want to change it",
                            required: false,
                            input_html: { autocomplete: "new-last-name" } %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>

                <%= f.input :password,
                            hint: "leave it blank if you don't want to change it",
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :current_password,
                            hint: "we need your current password to confirm your changes",
                            required: true,
                            input_html: { autocomplete: "current-password" } %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Update", class: "btn btn-red" %>
              </div>
            <% end %>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", :back %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="container">
      <div class="row justify-content-center">
        <div class="row col-10 col-md-7 my-5">

          <div class="form p-5">
            <h2><strong>Edit Preferences</strong></h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :intolerances, collection: User::INTOLERANCES, wrapper_html: {class: 'form-group', multiple: true, novalidate: true,}, input_html: { class: 'no-bs-validation', multiple: true}, include_hidden: false, as: :check_boxes %>
                <%= f.input :diet, collection: User::DIET, wrapper_html: { class: 'form-group', multiple: true }, as: :check_boxes, include_hidden: false, input_html: { multiple: true} %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
                <%= f.input :email, wrapper_html: {class: "d-none"} %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
                <%= f.input :current_password,
                            hint: "we need your current password to confirm your changes",
                            required: true,
                            input_html: { autocomplete: "current-password" } %>

              </div>
              <div class="form-actions">
                <%= f.button :submit, "Update", class: "btn btn-red" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
