<div class="container mt-4">
  <h1>Recipes</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

  <div class="row row-cols-1 row-cols-md-4 g-4">

  <! -------------- recipes cards -------------- >

    <% @recipes.each do |recipe| %>

      <div class="col">
        <div class="card h-100">

          <img src="<%= recipe.image_url %>" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title"><%= recipe.title %></h5>
          </div>

          <div class="d-flex card-footer">
            <p class="card-text"><span><i class="fas fa-hourglass-half"></i></span> <%= recipe.ready_in_minutes %> mins</p>
            <p><em>You have</em> <strong>7 / 10</strong><em> ingredients</em></p>
          </div>

        </div>
      </div>

    <% end %>
  </div>


  <! -------------- tests -------------- >

  <h2>User ingredients: </h2>
  <% @user.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>

  <h2>Can user call API?: <strong><%= @user.call_api_recipes %></h2></strong>

</div>
