<div class="bkg-mid-blue">
  <div class="container main-title">
    <% if current_user.ingredients.count > 0 %>
      <h1 class="recipes-header">You can make <strong><span class="recipe-count"><%= @recipes.count %> recipes</span></strong> with the <strong><span class="recipe-count"><%= pluralize(current_user.ingredients.count, "ingredient") %></span></strong> in your pantry!</h1>
    <% else %>
      <h1 class="recipes-header">You have<strong class="recipe-count"> 0 ingredients</strong> in your pantry.</h1>
      <p>Add items now to get inspired! Say goodbye to waste and hello to delicious home-cooked meals!</p>
      <%= link_to "MY PANTRY", ingredients_path, class: "btn btn-red" %>
    <% end %>
  </div>
</div>

<!-------------------PgSearch---------------------->
<div class="container py-3">
  <div class="search-form col-12 offset-md-2 col-md-8 mt-3">
    <%= form_tag recipes_path, class: "d-flex", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input",
        placeholder: "Find a recipe"
      %>
      <%= submit_tag "Search", class: "btn btn-red search-button" %>
    <% end %>
  </div>
</div>



<div class="container recipe-index mt-3 mb-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <! -------------- recipes cards -------------- >

    <% @recipes.each do |recipe| %>

      <div class="col">
        <%= link_to recipe_path(recipe), class: "text-decoration-none" do %>
          <div class="card h-100 shadow-sm">

            <! -------------- card image -------------- >

            <div class="card-div embed-responsive embed-responsive-16by9" data-controller="favorite">
              <img src="<%= recipe.image_url %>" class="card-img-top" alt="...">

                <% if !recipe.favorite %>

                  <%= link_to favorites_recipe_path(recipe) do %>
                    <i class="fas fa-heart shadow" data-uid="<%= recipe.id%>" data-action="click->favorite#stopRefresh"></i>
                  <% end %>

                <% else %>


                  <%= link_to favorites_recipe_path(recipe) do %>
                    <i class="fas fa-heart fa-red shadow" data-uid="<%= recipe.id%>"  data-action="click->favorite#stopRefresh"></i>
                  <% end %>

                <% end %>

            </div>

            <div class="card-body">

              <! -------------- card title -------------- >

              <h5 class="card-title"><%= recipe.title %></h5>



              <! -------------- ingredients used and missed -------------- >

              <div class="ingredients mb-3">
                <p><%= recipe.used_ingredients.count %> available ingredients</p>
                <% recipe.used_ingredients.each do |used_ingredient| %>
                  <span class="badge rounded-pill bg-green"><%= used_ingredient %></span>
                <% end %>

                <hr>

                <p><%= recipe.missed_ingredients.count %> missing ingredients:</p>
                <% recipe.missed_ingredients.each do |missed_ingredient| %>
                  <span class="badge rounded-pill bg-red"><%= missed_ingredient %></span>
                <% end %>

                <hr>

                <p><%= recipe.total_ingredients.count %> total ingredients</p>
                <% recipe.total_ingredients.each do |total_ingredient| %>
                  <span class="badge rounded-pill bg-green"><%= total_ingredient %></span>
                <% end %>

                <hr>

                 <! -------------- show diet badges -------------- >
                <div class="mb-3">
                  <% recipe.diets.each do |diet| %>
                    <span class="badge rounded-pill bg-grey"><%= diet %></span>
                  <% end %>
                </div>

                <! -------------- show if cooked -------------- >

                <% if recipe.status == "cooked" %>
                  <hr>
                  <div class="cooked d-flex mt-3">
                    <i class="fas fa-check-square"> </i>
                    <p> You have cooked this before!</p>
                  </div>
                <% end %>

              </div>

              <%# <p>Updated At <%= recipe.updated_at %>
              <%# Status <%= recipe.status%>
              <%# Latest result? <%= recipe.is_latest_result%>


            </div>


  <! -------------- recipe likes and ingredient ratio -------------- >


            <div class="d-flex card-footer">
              <p class="card-text"><span><i class="fas fa-hourglass-half"></i></span> <%= pluralize(recipe.ready_in_minutes, "min") %> </p>
              <p><strong><%= recipe.used_ingredients_count %> / <%= (recipe.used_ingredients_count + recipe.missed_ingredients_count) %></strong> in stock</p>
            </div>

          </div>
        <% end %>
      </div>

    <% end %>

  </div>




<! -------------- tests -------------- >


  <%# <h6>API Call link: <strong><%= @url</h6></strong>  %>
  <%# <h6>last API Call: <strong><%= @last_call_time</h6></strong> %>
</div>

<! -------------- back to top button -------------- >

<div class="container">
  <div class="d-flex justify-content-center mb-5">
    <a href="#top" class="btn btn-red w-100">BACK TO TOP <i class="fas fa-angle-up"></i></a>
  </div>
</div>
