<div class="bkg-mid-blue">
  <div class="container main-title">
    <% if (@favorite_recipes.count + @cooked_recipes.count) > 0 %>
      <h1 class="recipes-header">You have saved <strong><span class="recipe-count"><%= @favorite_recipes.count %> favorite recipes</span></strong> and <strong><span class="recipe-count"><%= @cooked_recipes.count %> cooked recipes </span></strong>so far. Awesome Job! </h1>
    <% else %>
      <h1 class="recipes-header">You don't have any saved recipes yet. To save a recipe you can mark it as favorite or mark it as cooked. </h1>
    <% end %>
  </div>
</div>


<! -------------- tabs -------------- >
<div class="col-12">
  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <! -------------- favorites tab -------------- >
      <li class="nav-item w-50" role="presentation">
        <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Favorites (<%= @favorite_recipes.count %>)</button>
      </li>

    <! -------------- cooked tab -------------- >
      <li class="nav-item w-50" role="presentation">
        <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Cooked (<%= @cooked_recipes.count %>)</button>
      </li>
  </ul>

</div>

<div class="tab-content" id="myTabContent">
  <! -------------- favorites content -------------- >
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

    <div class="container recipe-index mt-3 my-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        <! -------------- recipes cards -------------- >

        <% @favorite_recipes.each do |recipe| %>

          <div class="col">
            <%= link_to recipe_path(recipe), class: "text-decoration-none" do %>
              <div class="card h-100 shadow-sm">

               <! -------------- card image -------------- >

                <div class="card-div embed-responsive embed-responsive-16by9" data-controller="favorite">
                  <div class="card-img-top" style="background-image: url(<%= recipe.image_url %>);"></div>

                    <% if recipe.favorite %>
                      <%= link_to favorites_recipe_path(recipe) do %>
                        <i class="fas fa-heart fa-red shadow" data-path="<%= favorites_recipe_path(recipe)%>" data-uid="<%= recipe.id%>"  data-action="click->favorite#send"></i>
                      <% end %>
                    <% else %>
                      <%= link_to favorites_recipe_path(recipe) do %>
                        <i class="fas fa-heart shadow" data-path="<%= favorites_recipe_path(recipe)%>" data-uid="<%= recipe.id%>"  data-action="click->favorite#send"></i>
                      <% end %>
                    <% end %>

                </div>

                <div class="card-body">

                  <! -------------- card title -------------- >

                  <h5 class="card-title"><%= recipe.title %></h5>


                  <! -------------- show if cooked -------------- >

                  <% if recipe.cooked %>
                    <hr>
                    <div class="cooked d-flex mt-3">
                      <i class="fas fa-check-square"></i>
                      <p> You have cooked this before!</p>
                    </div>
                  <% end %>
                </div>


                <! -------------- recipe time and ingredient ratio -------------- >

                <div class="d-flex card-footer">
                  <p class="card-text"><span><i class="fas fa-hourglass-half"></i></span> <%= recipe.ready_in_minutes %> mins</p>
                  <p class="card-text mb-3"><span><i class="fas fa-utensils"></i></span> <%= pluralize(recipe.servings, "serving") %></p>
                </div>

              </div>
            <% end %>
          </div>

        <% end %>
      </div>

    </div>

  </div>

  <! -------------- cooked content -------------- >
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    <div class="container recipe-index mt-3 my-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        <! -------------- recipes cards -------------- >

        <% @cooked_recipes.each do |recipe| %>

          <div class="col">
            <%= link_to recipe_path(recipe), class: "text-decoration-none" do %>
              <div class="card h-100 shadow-sm">

                <! -------------- card image -------------- >


            <div class="card-div embed-responsive embed-responsive-16by9" data-controller="favorite">
              <div class="card-img-top" style="background-image:url(<%= recipe.image_url %>);"></div>

                <% if !recipe.favorite %>
                  <%= link_to favorites_recipe_path(recipe) do %>
                    <i class="fas fa-heart" data-uid="<%= recipe.id%>" data-action="click->favorite#send"></i>
                  <% end %>
                <% else %>
                  <%= link_to favorites_recipe_path(recipe) do %>
                    <i class="fas fa-heart fa-red" data-uid="<%= recipe.id%>"  data-action="click->favorite#send"></i>
                  <% end %>
                <% end %>

            </div>

                <div class="card-body">

                  <! -------------- card title -------------- >

                  <h5 class="card-title"><%= recipe.title %></h5>

                </div>


                <! -------------- recipe time and ingredient ratio -------------- >

                <div class="d-flex card-footer">
                    <p class="card-text"><span><i class="fas fa-hourglass-half"></i></span> <%= recipe.ready_in_minutes %> mins</p>
                    <p class="card-text mb-3"><span><i class="fas fa-utensils"></i></span> <%= pluralize(recipe.servings, "serving") %></p>
                </div>

              </div>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
