<div class="container mt-5">

  <! -------------- recipe details -------------- >
  <div class="col-sm-9 offset-md-2 col-md-8 mt-3">
    <%= link_to 'Back', recipes_path, class: "btn btn-red mb-3" %>

    <h2 class="mb-3"><strong><%= @recipe.title %></strong></h2>
    <img src="<%= @recipe.image_url %>" class="img-fluid" alt="">
    <% @recipe.recipe_ingredients.each do |ingredient| %>
      <p><%= ingredient.name %></p>
    <% end %>
    <h3>Ingredients:</h3>
    <% @recipe.ingredients.each do |ingredient| %>
      <p><%= ingredient.name %></p>
    <% end %>
    <h3>Directions:</h3>
    <p><%= @recipe.description %></p>
  </div>
</div>
