<div class="container">

  <%= link_to 'Back', recipes_path, class: "btn btn-outline mt-4 mx-3" %>


  <! -------------- recipe details -------------- >
  <div class="col-12-sm col-6-md col-6-lg">
    <div class="card d-flex justify-content-space-between">
      <div class="card-body">
        <h2 class="card-title"><strong><%= @recipe.title %></strong></h2>
        <p class="card-title"><strong><%= @recipe.description %></strong></p>
        <p>Ingredients Used: </p> <% @recipe.recipe_ingredients.each do |used_ingredient| %>
            <li><%= used_ingredient.ingredient.name %></li>
          <% end %>
        <hr>
        <p>Ingredients Missed: </p> <% @recipe.missed_ingredients.each do |missed_ingredient| %>
          <li><%= missed_ingredient %></li>
        <% end %>
        <hr>
        <p>Ingredients Unused: </p> <% @recipe.unused_ingredients.each do |unused_ingredient| %>
          <li><%= unused_ingredient %></li>
        <% end %>


      </div>
    </div>
  </div>
</div>
