<div class="container">

  <%= link_to "Back", :back, class: "btn btn-outline mt-4 mx-3" %>
  <a href="<%=@recipe.id%>/cooked", class ="btn btn-outline mt-4 mx-3 text-decoration-none text" >Cooked it!</a>


  <! -------------- recipe details -------------- >
  <div class="col-12-sm col-6-md col-6-lg">
    <div class="card d-flex justify-content-space-between">
      <div class="card-body">
        <h2 class="card-title"><strong><%= @recipe.title %></strong></h2>
        <p class="card-title"><strong><%= @recipe.description %></strong></p>
        <p>Ingredients Used: </p> <% @recipe.recipe_ingredients.each do |used_ingredient| %>
            <li><%= used_ingredient.ingredient.name %></li>
          <% end %>
        <hr>
        <p>Ingredients Missed: </p> <% @recipe.missed_ingredients.each do |missed_ingredient| %>
          <li><%= missed_ingredient %></li>
        <% end %>
        <hr>
        <p>Total Ingredients: </p> <% @recipe.total_ingredients.each do |total_ingredient| %>
          <li><%= total_ingredient %></li>
        <% end %>
        <hr>



      </div>
    </div>
  </div>
</div>
