<div class="container recipe-show" data-controller="check">


  <! -------------- recipe details -------------- >
  <div class="my-4">
    <%= link_to "BACK", :back, class: "btn btn-red mt-2" %>
  </div>

    <! -------------- modal for shopping list -------------- >
    <div class="modal fade" id="shoppingListModal" tabindex="-1" aria-labelledby="shoppingListModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
           <! --- modal header --- >
          <div class="modal-header">
            <h5 class="modal-title" id="shoppingListModalLabel">Do you want to add these items to your <span style="color:#ed254e">shopping list?</span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <! --- modal form --- >
          <div>
            <%= simple_form_for @recipe , url: build_shopping_list_path, html: { class:'mb-4', data: { check_target: 'form' } } do |f| %>
                <div class="modal-body">
                  <div class="d-flex mb-2">
                    <input id="check-all" type="checkbox" class="form-check-input mx-1" data-action="change->check#checkAll" data-check-target="checkboxall">
                    <label for="check-all" class="mx-2 mt-1"><strong>Check all</strong></label>
                  </div>
                  <% ingredients = @recipe.recipe_ingredients.map { |used_ingredient| [used_ingredient.ingredient.name, used_ingredient.ingredient_id]} %>
                  <%= f.collection_check_boxes :ingredients, ingredients, :last, :first,
                  {:item_wrapper_class => 'checkbox_container'},
                  data: { check_target: "checkbox", action: "change->check#disableSubmit"} %>

                </div>
              <div class="modal-footer">
                <%= f.submit "ADD TO SHOPPING LIST", class: "btn btn-blue w-100", data: { check_target: 'submit'} %>
                <a href="<%=@recipe.id%>/cooked", class ="btn btn-red w-100" >NO THANKS!</a>

              </div>

          </div>
        <% end %>


      </div>
    </div>
  </div>

    <! -------------- title -------------- >
    <h2 class="mb-2"><strong><%= @recipe.title %></strong></h2>
    <div class="d-flex">
    <p class="card-text mb-3"><span><i class="fas fa-hourglass-half"></i></span> <%= @recipe.ready_in_minutes %> mins</p>
    <p class="card-text mb-3 mx-4"><span><i class="fas fa-heart"></i></span> <%= pluralize(@recipe.aggregate_likes, "like") %></p>
    <p class="card-text mb-3"><span><i class="fas fa-utensils"></i></span> <%= pluralize(@recipe.servings, "serving") %></p>
    </div>

    <! -------------- image -------------- >
    <div class="card-div embed-responsive embed-responsive-16by9" data-controller="favorite">
      <div class="card-img-top img-fluid mb-4 shadow-sm vh-40"style="background-image: url(<%= @recipe.image_url %>);"></div>

        <% if @recipe.favorite %>
          <%= link_to favorites_recipe_path(@recipe) do %>
            <i class="fas fa-heart fa-red shadow" data-path="<%= favorites_recipe_path(@recipe)%>" data-uid="<%= @recipe.id%>"  data-action="click->favorite#send"></i>
          <% end %>
        <% else %>
          <%= link_to favorites_recipe_path(@recipe) do %>
            <i class="fas fa-heart shadow" data-path="<%= favorites_recipe_path(@recipe)%>" data-uid="<%= @recipe.id%>"  data-action="click->favorite#send"></i>
          <% end %>
        <% end %>

    </div>

  <! -------------- available and missed ingredients -------------- >
  <div class="mb-3">
      <% if @recipe.missed_ingredients_count == 0 %>
        <div class="ingredients p-4 mb-3 shadow-sm">

          <p>You have all the ingredients!</p>
          <% @recipe.used_ingredients.each do |used_ingredient| %>
            <span class="badge rounded-pill bg-green"><%= used_ingredient %></span>
          <% end %>
        </div>
      <% else %>
        <div class="ingredients p-4 mb-3 shadow-sm">
          <p><%= @recipe.used_ingredients_count %> available ingredients</p>
          <% @recipe.used_ingredients.each do |used_ingredient| %>
            <span class="badge rounded-pill bg-green"><%= used_ingredient %></span>
          <% end %>
        </div>
        <div class="ingredients p-4 shadow-sm mb-4">
          <p><%= @recipe.missed_ingredients_count %> missing ingredients:</p>
          <% @recipe.missed_ingredients.each do |missed_ingredient| %>
            <span class="badge rounded-pill bg-red"><%= missed_ingredient %></span>
          <% end %>
        </div>
      <% end %>

    <! -------------- about -------------- >

    <div class="directions">
      <h3>About this recipe:</h3>
      <p><%= simple_format(@recipe.summary.split('minutes</b>.').first + "minutes</b>.") %></p>
    </div>

    <br>
    <hr>
    <br>

    <! -------------- total ingredients -------------- >

    <div class="directions">
      <h3>Ingredients:</h3>
      <% @recipe.total_ingredients.each do |total_ingredient| %>
        <li><%= raw "#{total_ingredient[1]} #{total_ingredient[2]} <b>#{total_ingredient[3]}</b>"%></li>
      <% end %>
    </div>

    <br>
    <hr>
    <br>

  </div>

  <! -------------- directions -------------- >
  <% if @recipe.steps%>
    <div class="directions mb-3">
      <h3>Directions:</h3>
      <% @recipe.steps.each do |step| %>
        <div class="steps p-3 shadow-sm mb-3">
          <p><%= raw step %></p>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="directions mb-4">
      <h3>Directions:</h3>
      <p>Visit <%= @recipe.source_url %></p>
    </div>
  <% end %>


  <! -------------- back to top button -------------- >

  <div class="d-flex justify-content-center my-5" data-controller="recipe-detail">
    <a href="<%=@recipe.id%>/cooked", class ="btn btn-yellow mt-2 mx-2 text-decoration-none text w-100" data-bs-toggle="modal" data-bs-target="#shoppingListModal" >COOKED IT!</a>

    <%# <button class="btn btn-red w-100" onclick='javascript:window.scrollTo(0, 0);'>BACK TO TOP <i class="fas fa-angle-up"></i></button> %>
  </div>

</div>
