  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <%= simple_form_for @ingredient do |f| %>
                  <%= f.input :name %>
                  <%= f.input :measure, collection: Ingredient::UNITS %>
                  <%= f.input :category, collection: Ingredient::CATEGORY %>
                  <%= f.input :quantity %>
                  <%= f.submit "Save", class: "btn btn-flat" %>
                <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<div class="header">
  <h1>My Pantry</h1>
  <button type="button" class="btn btn-red col-8 col-md-4" data-toggle="modal" data-target="#exampleModal">
  ADD ITEM
  </button>
</div>

<%= simple_form_for @ingredient do |f| %>
                  <%= f.input :name %>
                  <%= f.input :measure, collection: Ingredient::UNITS %>
                  <%= f.input :category, collection: Ingredient::CATEGORY %>
                  <%= f.input :quantity %>
                  <%= f.submit "Save", class: "btn btn-flat" %>
                <% end %>


<div class="container py-3">


  <% @categories.each do |category| %>
    <div class="col-12 offset-md-2 col-md-8 mb-4">
      <h4 class="category-title"><strong><%= category %></strong></h4>
      <% @ingredients.each do |ingredient| %>
        <% if ingredient.category == category %>
            <ul class="list-group list-group-horizontal mb-2">
              <li class="list-group-item quantity"><%= ingredient.quantity %></li>
              <li class="list-group-item measurement"><%= ingredient.measure %></li>
              <li class="list-group-item ingredient"><%= ingredient.name %></li>
              <li class="list-group-item"><i class="fas fa-pencil-alt"></i></i></li>
              <li class="list-group-item">
                <%= link_to ingredient_path(ingredient),
                  method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </li>
            </ul>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
