

<div class="header">
  <h1>My Pantry</h1>
</div>

<div class="container py-3">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-red col-12 offset-md-2 col-md-8 mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ADD ITEM
  </button>
  <% @categories.each do |category| %>
    <div class="col-12 offset-md-2 col-md-8 mb-4">
      <h4 class="category-title"><strong><%= category %></strong></h4>
      <% @ingredients.each do |ingredient| %>
        <% if ingredient.category == category %>
            <ul class="list-group list-group-horizontal mb-2">
              <li class="list-group-item quantity"><%= ingredient.quantity %></li>
              <li class="list-group-item measurement"><%= ingredient.measure %></li>
              <li class="list-group-item ingredient"><%= ingredient.name %></li>
              <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#exampleModal-<%=ingredient.id%>"><i class="fas fa-pencil-alt"></i></i></li>
              <li class="list-group-item">
                <%= link_to ingredient_path(ingredient),
                  method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </li>
            </ul>
        <% end %>
        <div class="modal fade" id="exampleModal-<%=ingredient.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center mt-4">
              <div class="modal-content">

                <%= simple_form_for @ingredient do |f| %>
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                    <%= f.input :name, input_html: {value: ingredient.name} %>
                    <%= f.input :measure, selected: ingredient.measure, collection: Ingredient::UNITS %>
                    <%= f.input :category, selected:  ingredient.category, collection: Ingredient::CATEGORY %>
                    <%= f.input :quantity, input_html: {value: ingredient.quantity} %>
                  </div>

                  <div class="modal-footer">
                    <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
                    <%= f.submit "UPDATE", class: "btn btn-red w-100" %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <%= simple_form_for @ingredient do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

                    <%= f.input :name %>
                    <%= f.input :measure, collection: Ingredient::UNITS, prompt: "Select unit of measure" %>
                    <%= f.input :category, collection: Ingredient::CATEGORY, prompt: "Select category", class: "select" %>
                    <%= f.input :quantity %>


        </div>
        <div class="modal-footer">

          <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
          <%= f.submit "Add Item", class: "btn btn-red w-100" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <! -------------- back to top button -------------- >

  <div class="col-12 offset-md-2 col-md-8">
    <div class="d-flex justify-content-center my-3">
      <a href="#top" class="btn btn-red w-100">BACK TO TOP <i class="fas fa-angle-up"></i></a>
    </div>
  </div>

</div>
