

<div class="header">
  <h1>My Pantry</h1>
</div>

<div class="container py-3">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-red col-12 offset-md-2 col-md-8 my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ADD ITEM
  </button>

  <div class="ingredients-container row col-12 offset-md-2 col-md-8 mt-3">
    <% @categories.each do |category| %>


        <div class="accordion mb-4" id="accordion">
        <div class="accordion-item">

        <! ------------------------ ACCORDIAN HEADER ------------------------ >
          <h2 class="accordion-header" id="heading<% category %>">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<% category %>" aria-expanded="true" aria-controls="collapse<% category %>">
              <strong><%= category %></strong>
            </button>
          </h2>

        <! ------------------------ ACCORDIAN BODY ------------------------ >

          <div id="collapse<% category %>" class="accordion-collapse collapse show" aria-labelledby="heading<% category %>s" data-bs-parent="#accordion">
            <div class="accordion-body py-4 px-4">

        <! ------------------------ ADD INGREDIENT FORM ------------------------ >

              <% @ingredients.each do |ingredient| %>
                <% if ingredient.category == category %>
                  <div class="d-flex justify-content-between ingredient">
                    <li class="ingredient"><%= ingredient.name %></li>
                    <li class="ingredient">
                        <%= link_to ingredient_path(ingredient),
                          method: :delete, data: { confirm: "Are you sure?" } do %>
                          <i class="fas fa-trash-alt"></i>
                        <% end %>
                    </li>
                  </div>
                  <hr>
                <% end %>
              <% end %>

               <button type="button" class="btn btn-red offset-3 col-6 offset-md-4 col-md-4 my-3" data-bs-toggle="modal" data-bs-target="#ingredientModal">
                ADD ITEM
              </button>

        <! ------------------------ ADD INGREDIENT MODAL INSIDE EACH CATEGORY ------------------------ >
              <div class="modal fade" id="ingredientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                  <%= simple_form_for @ingredient do |f| %>
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                                <%= f.input :name %>
                                <%# <%= f.input :measure, collection: Ingredient::UNITS, prompt: "Select unit of measure" %>
                                <%= f.input :category, collection: Ingredient::CATEGORY, selected: category, class: "select" %>
                                <%# <%= f.input :quantity %>


                    </div>
                    <div class="modal-footer">

                      <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
                      <%= f.submit "Add Item", class: "btn btn-red w-100" %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


<! ------------------------ ADD INGREDIENT TOP OF PAGE ------------------------ >
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <%= simple_form_for @ingredient do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

                    <%= f.input :name %>
                    <%# <%= f.input :measure, collection: Ingredient::UNITS, prompt: "Select unit of measure" %>
                    <%= f.input :category, collection: Ingredient::CATEGORY, prompt: "Select category", class: "select" %>
                    <%# <%= f.input :quantity %>


        </div>
        <div class="modal-footer">

          <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
          <%= f.submit "Add Item", class: "btn btn-red w-100" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>




<! ------------------------ BACK TO TOP BUTTON ------------------------ >

  <div class="col-12 offset-md-2 col-md-8">
    <div class="d-flex justify-content-center my-3">
    <button class="btn btn-red w-100" onclick='javascript:window.scrollTo(0, 0);'>BACK TO TOP <i class="fas fa-angle-up"></i></button>

    </div>
  </div>

</div>
