


<div class="header">
  <div class="container px-6">
    <h1>My Pantry</h1>
    <h5 style="font-size: 16px;">You have <strong style="color: #ed254e;"><%= pluralize(current_user.ingredients.count, "ingredient") %></strong> in your pantry!<br>
    Feel free to update your list of ingredients and press 'Cook Something' to see all available recipes.</h5>
  </div>
</div>

<div class="container py-3">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-red col-12 offset-md-2 col-md-8 my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
     <span><i class="fas fa-plus"></i> </span> ADD ITEM
  </button>

  <div class="ingredients-container row col-12 offset-md-2 col-md-8 mt-3">
    <% @categories.each_with_index do |category, index| %>
      <div class="accordion mb-4" id="accordion">
        <div class="accordion-item ">

          <! ------------------------ ACCORDIAN HEADER ------------------------ >
          <%# <div class="d-flex justify-content-space-between"> %>
          <h2 class="accordion-header d-flex" id="heading-<%= index %>">
            <div class="d-flex align-items-start" >
              <button type="button" class="btn-plus" data-bs-toggle="modal" data-bs-target="#ingredientModal-<%= index %>">
              <i class="fas fa-plus"></i></button>
            </div>

              <! ------------------------ ADD INGREDIENT MODAL INSIDE EACH CATEGORY ------------------------ >
              <div class="modal fade" id="ingredientModal-<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                  <%= simple_form_for @ingredient do |f| %>
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add item to:<br><span style="color:#ed254e"><%= category %></span></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                                <%= f.input :name %>
                                <%# <%= f.input :measure, collection: Ingredient::UNITS, prompt: "Select unit of measure" %>
                                <%= f.input :category, collection: Ingredient::CATEGORY, class: "select", selected: category %>
                                <%# <%= f.input :quantity %>
                    </div>

                    <div class="modal-footer">
                      <%= f.submit "Add Item", class: "btn btn-red w-100" %>
                    </div>

                  </div>
                  <% end %>
                </div>
              </div>

            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= index %>" aria-expanded="true" aria-controls="collapse-<%= index %>">
                <span class="badge rounded-pill bg-blue mx-2" style="width: 30px; font-weight: 600;">
                  <%= @ingredients.where(category: category).count %>
                </span>
              <strong ><%= category %>
              </strong>
            </button>

          </h2>






          <! ------------------------ ACCORDIAN BODY ------------------------ >

          <div id="collapse-<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index %>" data-bs-parent="#accordion">
            <div class="accordion-body py-4 px-4">

              <! ------------------------ LIST OF INGREDIENTS ------------------------ >

              <% @ingredients.each_with_index do |ingredient, index| %>
                <% if ingredient.category == category && ingredient.is_available == true %>
                  <div class="d-flex justify-content-between ingredient">
                    <li class="ingredient"><%= ingredient.name %></li>
                    <button data-bs-toggle="modal" data-bs-target="#deleteModal-<%= index %>">
                      <li class="ingredient"><i class="fas fa-trash-alt"></i></li>
                    </button>
                  </div>
                  <hr>

                  <! ------------------------ DELETE OR ADD TO SHOPPING LIST MODAL ------------------------ >
                  <div class="modal fade" id="deleteModal-<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <%= simple_form_for @ingredient do |f| %>
                          <div class="modal-header">
                            <h5 class="modal-title mb-3" id="exampleModalLabel">What would you like to do with this item: <span style="color: #ed254e"><%= ingredient.name %>?</span></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>

                          <div class="modal-footer mb-3">
                            <%= link_to "DELETE PERMANENTLY", ingredient_path(ingredient), method: :delete, class: "btn btn-red w-100" %>
                            <%= link_to "ADD TO SHOPPING LIST", add_to_shopping_list_path(ingredient), method: :patch, class: "btn btn-blue w-100" %>
                          </div>

                        <% end %>

                      </div>
                    </div>
                  </div>

                <% end %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


<! ------------------------ ADD INGREDIENT TOP OF PAGE ------------------------ >
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <%= simple_form_for @ingredient do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

                    <%= f.input :name %>
                    <%# <%= f.input :measure, collection: Ingredient::UNITS, prompt: "Select unit of measure" %>
                    <%= f.input :category, collection: Ingredient::CATEGORY, prompt: "Select category", class: "select" %>
                    <%# <%= f.input :quantity %>


        </div>
        <div class="modal-footer">

          <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
          <%= f.submit "Add Item", class: "btn btn-red w-100" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>




<! ------------------------ BACK TO TOP BUTTON ------------------------ >

  <div class="col-12 offset-md-2 col-md-8">
    <div class="d-flex justify-content-center my-3">
    <button class="btn btn-red w-100" onclick='javascript:window.scrollTo(0, 0);'>BACK TO TOP <i class="fas fa-angle-up"></i></button>

    </div>
  </div>

</div>
