<div class="header">
  <div class="container px-5">
    <h1>Shopping List</h1>
    <p>AllPot helps you automatically add items to your shopping list everytime you cook a recipe or delete an item from your pantry. Happy Shopping!</p>
  </div>
</div>

<div class="container py-3 mt-2 mb-5">

  <div class="ingredients-container row col-12 offset-md-2 col-md-8 mt-3" data-controller="check">
    <div class="check-list">
      <%= simple_form_for current_user, url: move_to_pantry_path, html: { class:'mb-4', data: { check_all_checkboxes_target: 'form' } } do |f| %>
        <div class="d-flex form-check">
          <input id="check-all" type="checkbox" class="form-check-input is-valid check-boxes optional no-bs-validation" data-action="change->check#checkAll" data-check-target="checkboxall">
          <label for="check-all" class="mx-2 mt-1"><strong>Check all</strong></label>

        </div>

        <%= f.input :ingredients, collection: @ingredients,
                    wrapper_html: {class: 'form-group mt-3', multiple: true },
                    input_html: { class: 'no-bs-validation', multiple: false, checked: false, data: { check_target: "checkbox"}},
                    include_hidden: false, as: :check_boxes %>

        <%= f.submit "ADD TO PANTRY", class: "btn btn-red w-100" %>
      <% end %>
      <button type="button" class="btn btn-yellow w-100 my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        ADD NEW ITEM TO SHOPPING LIST
      </button>
    </div>

    <! -------- modal to add to shopping list --------- >
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <%= simple_form_for @shopping_list_ingredient, url: create_shopping_list_item_path, method: :post do |f| %>
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add item to:<br><span style="color:#ed254e">shopping list</span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                        <%= f.input :name %>
                        <%# <%= f.input :measure, collection: Ingredient::UNITS, prompt: "Select unit of measure" %>
                        <%= f.input :category, collection: Ingredient::CATEGORY, prompt: "Select category", class: "select" %>
                        <%# <%= f.input :quantity %>


            </div>
            <div class="modal-footer">

              <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
              <%= f.submit "ADD ITEM TO SHOPPING LIST", class: "btn btn-red w-100" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
