


<div class="header">
  <div class="container px-6">
    <h1>My Preferences</h1>
  </div>
</div>
<div class="container py-3">
  <%# <div class="row justify-content-center"> %>
  <div class="ingredients-container row col-12 offset-md-2 col-md-8 mt-3 justify-content-center">



        <%= simple_form_for current_user, url: update_user_profile_path, html: { method: :patch } do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <!------------------Accordion for Preferences------------------>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Intolerances
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <%= f.input :intolerances, collection: User::INTOLERANCES, wrapper_html: {class: 'form-group', multiple: true, novalidate: true,}, input_html: { class: 'no-bs-validation', multiple: true}, include_hidden: false, as: :check_boxes %>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Diet
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <%= f.input :diet, collection: User::DIET, wrapper_html: { class: 'form-group', multiple: true }, as: :check_boxes, include_hidden: false, input_html: { multiple: true} %>
              </div>
            </div>
            </div>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Update", class: "btn btn-red" %>
          </div>
        <% end %>
      </div>

  <%# </div> %>
</div>
